<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>angle</key>
	<real>326.1225280761719</real>
	<key>angleVariance</key>
	<real>5</real>
	<key>blendFuncDestination</key>
	<integer>1</integer>
	<key>blendFuncSource</key>
	<integer>770</integer>
	<key>duration</key>
	<integer>100</integer>
	<key>emitterType</key>
	<integer>0</integer>
	<key>finishColorAlpha</key>
	<integer>1</integer>
	<key>finishColorBlue</key>
	<real>0.9960784314</real>
	<key>finishColorGreen</key>
	<real>0.9294117647</real>
	<key>finishColorRed</key>
	<real>0.2274509804</real>
	<key>finishColorVarianceAlpha</key>
	<real>0.427279531955719</real>
	<key>finishColorVarianceBlue</key>
	<real>0</real>
	<key>finishColorVarianceGreen</key>
	<real>0</real>
	<key>finishColorVarianceRed</key>
	<real>0</real>
	<key>finishParticleSize</key>
	<integer>50</integer>
	<key>finishParticleSizeVariance</key>
	<real>3</real>
	<key>gravityx</key>
	<integer>0</integer>
	<key>gravityy</key>
	<integer>1160</integer>
	<key>maxParticles</key>
	<integer>3</integer>
	<key>maxRadius</key>
	<real>100</real>
	<key>maxRadiusVariance</key>
	<real>0</real>
	<key>minRadius</key>
	<real>0</real>
	<key>particleLifespan</key>
	<real>0.9</real>
	<key>particleLifespanVariance</key>
	<real>0</real>
	<key>radialAccelVariance</key>
	<real>-367.3930969238281</real>
	<key>radialAcceleration</key>
	<real>-764.0830688476562</real>
	<key>rotatePerSecond</key>
	<real>0</real>
	<key>rotatePerSecondVariance</key>
	<real>0</real>
	<key>rotationEnd</key>
	<integer>0</integer>
	<key>rotationEndVariance</key>
	<integer>0</integer>
	<key>rotationStart</key>
	<integer>0</integer>
	<key>rotationStartVariance</key>
	<integer>0</integer>
	<key>sourcePositionVariancex</key>
	<integer>5</integer>
	<key>sourcePositionVariancey</key>
	<integer>10</integer>
	<key>sourcePositionx</key>
	<real>561.4481201171875</real>
	<key>sourcePositiony</key>
	<real>394.0209350585938</real>
	<key>speed</key>
	<integer>30</integer>
	<key>speedVariance</key>
	<integer>5</integer>
	<key>startColorAlpha</key>
	<real>1</real>
	<key>startColorBlue</key>
	<real>0.9960784314</real>
	<key>startColorGreen</key>
	<real>0.9294117647</real>
	<key>startColorRed</key>
	<real>0.2274509804</real>
	<key>startColorVarianceAlpha</key>
	<real>0.427279531955719</real>
	<key>startColorVarianceBlue</key>
	<real>0</real>
	<key>startColorVarianceGreen</key>
	<real>0</real>
	<key>startColorVarianceRed</key>
	<real>0</real>
	<key>startParticleSize</key>
	<real>0</real>
	<key>startParticleSizeVariance</key>
	<integer>30</integer>
	<key>tangentialAccelVariance</key>
	<real>-109.6833877563477</real>
	<key>tangentialAcceleration</key>
	<real>454.6669311523438</real>
	<key>textureFileName</key>
	<string>music_1.png</string>
</dict>
</plist>
