<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>angle</key>
	<real>0</real>
	<key>angleVariance</key>
	<real>131.0587921142578</real>
	<key>blendFuncDestination</key>
	<integer>771</integer>
	<key>blendFuncSource</key>
	<integer>772</integer>
	<key>duration</key>
	<real>-1</real>
	<key>emitterType</key>
	<real>0</real>
	<key>finishColorAlpha</key>
	<real>0.70166015625</real>
	<key>finishColorBlue</key>
	<integer>1</integer>
	<key>finishColorGreen</key>
	<real>1</real>
	<key>finishColorRed</key>
	<integer>1</integer>
	<key>finishColorVarianceAlpha</key>
	<real>0</real>
	<key>finishColorVarianceBlue</key>
	<real>0</real>
	<key>finishColorVarianceGreen</key>
	<real>0</real>
	<key>finishColorVarianceRed</key>
	<real>0</real>
	<key>finishParticleSize</key>
	<real>11.44736862182617</real>
	<key>finishParticleSizeVariance</key>
	<real>0</real>
	<key>gravityx</key>
	<real>0</real>
	<key>gravityy</key>
	<real>-308.696533203125</real>
	<key>maxParticles</key>
	<integer>50</integer>
	<key>maxRadius</key>
	<real>100</real>
	<key>maxRadiusVariance</key>
	<real>0</real>
	<key>minRadius</key>
	<real>0</real>
	<key>particleLifespan</key>
	<real>1.408581256866455</real>
	<key>particleLifespanVariance</key>
	<real>0.2950246632099152</real>
	<key>radialAccelVariance</key>
	<real>0</real>
	<key>radialAcceleration</key>
	<real>0</real>
	<key>rotatePerSecond</key>
	<real>0</real>
	<key>rotatePerSecondVariance</key>
	<real>0</real>
	<key>rotationEnd</key>
	<real>0</real>
	<key>rotationEndVariance</key>
	<real>0</real>
	<key>rotationStart</key>
	<real>0</real>
	<key>rotationStartVariance</key>
	<real>0</real>
	<key>sourcePositionVariancex</key>
	<integer>45</integer>
	<key>sourcePositionVariancey</key>
	<integer>15</integer>
	<key>sourcePositionx</key>
	<real>150.2590026855469</real>
	<key>sourcePositiony</key>
	<real>291.9707336425781</real>
	<key>speed</key>
	<integer>-50</integer>
	<key>speedVariance</key>
	<integer>30</integer>
	<key>startColorAlpha</key>
	<real>1</real>
	<key>startColorBlue</key>
	<integer>1</integer>
	<key>startColorGreen</key>
	<integer>1</integer>
	<key>startColorRed</key>
	<integer>1</integer>
	<key>startColorVarianceAlpha</key>
	<real>0</real>
	<key>startColorVarianceBlue</key>
	<integer>0</integer>
	<key>startColorVarianceGreen</key>
	<real>0</real>
	<key>startColorVarianceRed</key>
	<real>0</real>
	<key>startParticleSize</key>
	<real>20.47368431091309</real>
	<key>startParticleSizeVariance</key>
	<real>0</real>
	<key>tangentialAccelVariance</key>
	<real>0</real>
	<key>tangentialAcceleration</key>
	<real>0</real>
	<key>textureFileName</key>
	<string>../RES/CI/ShowerBubble.png</string>
	<key>textureImageData</key>
	<string>iVBORw0KGgoAAAANSUhEUgAAABMAAAAVBAMAAABWJ8jiAAAAKlBMVEUAAAD///////////////////////////////////////////////////+Gu8ovAAAADnRSTlMAKEQzGREhWgprO1F9mQVuDToAAADFSURBVAjXYwCB1tAIBghocRMUcwCzWB2FjY1FwGJCylarlBYnMDBwZO08uUppt5IpAwOb1Z67k41mVisyMDhn7blzLHFmeREDg2HQzpNTwyrVpzMwqAWpz65o2W40E8j0NqqawaokVMPAICxpaF7BISwFZDpabtK24AiRqgQaJl6k5NoRIlQOtMJp0+LUUDcjJaDFjIuNRVwSrRaCXCMsLCgoaCwKco+joFgi1JUtaWlpKa5g93KEuLi4NjBA2KGhYBYCAAAGFS/Za+eG0AAAAABJRU5ErkJggg==</string>
</dict>
</plist>
